
@{
    ViewBag.Title = "GetStatistic";
}

<h2 class="h3">Статистика</h2>

@*<div class="accordion" id="accordionExample">
        @foreach (var t in ViewBag.Ts)
        {
            <div class="card">
                <div class="card-header" id=@t.TimeSeriesId>
                    <h2 class="mb-0">
                        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#@t.TimeSeriesId@t.TimeSeriesId" aria-expanded="false" aria-controls="collapseTwo">
                            @t.Title
                        </button>
                    </h2>
                </div>
                <div id="@t.TimeSeriesId@t.TimeSeriesId" class="collapse" aria-labelledby=@t.TimeSeriesId data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Метод</th>
                                    <th>Время</th>
                                    <th>Память (кб)</th>
                                    <th>Загрузка процессора</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var r in ViewBag.Results)
                                {
                                    if (@r.TimeSeriesId == @t.TimeSeriesId)
                                    {
                                        <tr>
                                            <th>@r.Image.Link</th>
                                            <th>@r.Time</th>
                                            <th>@r.Memory</th>
                                            <th>@r.CPU</th>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        }

    </div>*@

@foreach (var t in ViewBag.Ts)
{
    <div class="table-responsive" id="">
        <h3> @t.Title</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Метод</th>
                    <th>Время</th>
                    <th>Оценка</th>
                    <th>Память (кб)</th>
                    <th>Загрузка процессора</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var r in ViewBag.Results)
                {
                    if (@r.TimeSeriesId == @t.TimeSeriesId)
                    {
                <tr>
                    <th>@r.Image.Link</th>
                    <th>@r.Time</th>
                    <th>@r.Res</th>
                    <th>@r.Memory</th>
                    <th>@r.CPU</th>
                </tr>
                    }
                }
            </tbody>
        </table>
    </div>
}
