@*@Scripts.Render("~/scripts/jquery-1.7.1.js")*@
@*@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.js")*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<form method="post" action="~/Home/Login">
    <label>Логин:</label><br />
    <input type="text" name="login" /><br /><br />
    <label>Пароль:</label><br />
    <input type="text" name="password" /><br /><br />
    <button id="signIn">Войти</button>
</form>
<div id="tableBlock"></div>

@Html.DropDownList("ImageId", ViewBag.Images as SelectList)
@Html.DropDownList("TimeSeriesId", ViewBag.TimeSeries as SelectList)

<form id="imageUpload" @*action="@Url.Action("AddImage")"*@ method="POST" enctype="multipart/form-data">
    <input id="imageInput" name="imageInput" type="text"/>
    <input type="button" value="Upload image" id="btnImageUpload" onclick="AddImage()" />
</form>
<input type="button" value="Start" id="btnStart" onclick="Start()"/>

<script type="text/javascript">
    $(document).ready(function () {
        GetAllTimeSeries();
    });

    // Получение всех рядов по ajax-запросу
    function GetAllTimeSeries() {
        $("#createBlock").css('display', 'block');
        //$("#editBlock").css('display', 'none');
        $.ajax({
            url: '/TimeSeries/GetTimeSeries',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                WriteResponse(data);
            },
            error: function (data) {
                alert('error' + data);
            }
        });
    }

    // вывод полученных данных на экран
    function WriteResponse(ts) {
        var strResult = "<table><th>дабл</th><th>путь</th>";
        $.each(ts, function (index, t) {
            strResult += "<tr><td>" + t.IsDouble + "</td><td> " + t.Path + "</td></tr>";
        });
        strResult += "</table>";
        $("#tableBlock").html(strResult);
    }

    function AddImage() {
        $.ajax({
            url: '@Url.Action("AddImage")',
            type: 'POST',
            data: JSON.stringify({ 'imageInput': $("#imageInput").val() }),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllTimeSeries();
                $("#imageInput").val('');
            },
            error: function () {
                alert('error');
            }
        });
    }

    function Start() {
        //debugger
        $.ajax({
            url: '@Url.Action("Start")',
            type: 'POST',
            data: JSON.stringify({ 'imageInput': $("#ImageId").val(), 'ts': $("#TimeSeriesId").val()}),
            contentType: "application/json;charset=utf-8",
            success: function (data) {
                GetAllTimeSeries();
            },
            error: function () {
                alert('error');
            }
        });
    }

</script>